.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#show {
  flex: 0 0 450px;
  height: 100vh;
  text-align: center;
  align-items: center;
}

h1 p ul li {
  text-align: center;
  list-style: none;
  margin-bottom: 30px;
  margin-top: 30px;
}

#body {
background-color: #1d283d;
}

#flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
