<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Malisa12" target="_blank" title="Malise" alt="Malise" ><i  id="link-1" class="fab fa-github"></i></a>
    <a href="https://github.com/Bigovsky" target="_blank" title="Reda" alt="Reda" ><i  id="link-2" class="fab fa-github"></i></a>
    <a href="https://github.com/Abdelilam" target="_blank" title="Abdel " alt="Abdel" ><i  id="link-3" class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
   Made at InstrumRent
  </div>
</div>
