<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://www.kcbi.org/wp-content/uploads/2017/06/musical.jpg');">

<form class="form-style-9">
<ul>
<li>
    <input type="text" name="field1" class="field-style field-full align-none" placeholder="Instrument" />
</li>
<li>
    <input type="text" name="field2" class="field-style field-full align-none" placeholder="Location" />
</li>
<li>
<input type="text" name="field3" class="field-style field-full align-none" placeholder="Rent date" />
</li>
<li>
<%= link_to '.', instruments_path %>
<input type="submit" value="Search" />
</li>
</ul>
</form>
</div>
