.card {
  height: 200px;
  max-width: 350px;
  background-size: cover !important;
  background-position: center;
  position: relative;
  color: background;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 2px solid black;
  text-shadow: 0 1px 3px rgb(0,0,0);
  font-size: 18px;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-category {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(166,166,166,0.5);
  width: 110px;
  height: 25px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 8px;
  padding-left: 12px;
}

.card-price {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 15px;
  background-color: gray;
  height: 25px;
  width: 100px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 8px;
  text-align: right;
  padding-right: 12px;
}

.card-title {
  position: absolute;
  width: 100%;
  bottom: 0;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  color: white;
  text-align: center;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: gray;
  opacity: 0;
}


.card-price {
  opacity: 0;
}


.card:hover .card-price{
  opacity: 1;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 15px;
  background-color: white;
  width: 100px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 8px;
}

#ins-show {
  height: 400px;
  max-width: 450px;
  background-size: cover !important;
  background-position: center;
  position: relative;
  color: background;
  border-radius: 15px;
  margin-top: 40px;
  margin-bottom: 20px;
  border: 5px solid black;
  text-shadow: 0 1px 3px rgb(0,0,0);
  font-size: 18px;
}
p {
  color: white;
  text-shadow: 2px 2px #3e6cc1;
}
.main-container {
 margin-bottom: 20px;
 margin-top: 20px;
}

li {
  color: white;
  list-style: none;
  text-shadow: 1px 1px black;
}
