.footer {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  color: rgba(0,0,0,0.6);
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  position: absolute;
  z-index: 2;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.6;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer .fa-heart {
  color: #D23333;
}
