<h1>Instruments#index</h1>
<div class="row">
      <% @instruments.each do |ins| %>
      <%= ins.name.upcase %>
      <%= price_currency(ins.price, unit: "$", separator: ",", delimiter: ".", format: "%n %u") %>/day
      <%= ins.category.capitalize %>
      <%= link_to '', instruments_path(instrument) %>
        <% end %>
</div>
